// compileCompressed: ../css/$1.min.css

// Global variables
$primary-text-color: #333333;
$primary-bg-color: #ffffff;
$light-peach: #ffe6d5;
$dark-peach: #ffccaa;
$light-yellow: #fff6d5;
$medium-yellow: #ffeeaa;
$dark-yellow: #ffe680;
$light-red: #ff8080;
$main-red: #ff5555;
$dark-red: #ff2a2a;
$verydark-red: #d40000;
$medium-grey: #cccccc;
$light-grey: #e6e6e6;
$white-text: #ffffff;
$blue-text: #0088aa;

$primary-width: 960px;
$secondary-width: 900px;
$tertiary-width: 650px;

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,200,300,400,500,600,700,800,900&display=swap&subset=japanese');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  background-color: $primary-bg-color;
  color: $primary-text-color;
}
header, main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img#logo {
  width: 200px;
  margin: 1rem 0;
}
header img#hero {
  width: $primary-width;
}

main {
  width: 100%;
}
main section {
  // background-color: grey;
  width: $secondary-width;
  margin: 2rem 0;
  padding: 2rem 2rem;
}

main section#title {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#title h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
main section#title h1 .accent {
  color: $main-red;
  font-size: 2rem;
}
main section#title p {
  margin: 0;
  font-size: 1.3rem;
}
main section#title p:first-of-type {
  margin-top: 1rem;
}

main section#goals {
  background-color: $light-peach;
  border-radius: 20px;
  padding: 0.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 400;
}
main section#goals ul {
  list-style-image: url("../images/checkbox.png");
}

main section#reassurance,
main section#flip {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
main section#reassurance img {
  width: 130px;
}
main section#reassurance .text p,
main section#flip .text h1,
main section#flip .text p {
  margin: 0 0 0 1rem;
}
main section#reassurance .text p {
  font-size: 1.8rem;
}

main section#flip, main section#campaign {
  width: $tertiary-width;
  line-height: 1.3;
}
main section#flip {
  background-color: $medium-grey;
  border-radius: 20px;
}
main section#flip img {
  width: 150px;
}
main section#flip .text h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
main section#flip .text p {
  font-size: 2rem;
}

main section#campaign {
  background-color: $medium-yellow;
  border-radius: 20px;
}
main section#campaign h1 {
  margin: 0;
  color: $blue-text;
  font-size: 2.8rem;
  font-weight: 600;
}
main section#campaign p {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 400;
}
main section#campaign .campaign-price,
main section#campaign .original-price {
  font-size: 3rem;
}
main section#campaign .strikethrough,
main section#campaign .campaign-price {
  color: $dark-red;
}
main section#campaign .original-price {
  color: $primary-text-color;
  text-decoration: line-through double $dark-red;
}
main section#campaign .note {
  font-size: 1.5rem;
}

main section#trial {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}
main section#trial .trial-level-check-counseling {
  width: 70%;
  border: solid 4px $dark-red;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
main section#trial .trial-level-check-counseling p {
  margin: 0;
  padding: 0.2rem;
}
main section#trial .trial-level-check-counseling p.accent {
  width: 100%;
  background-color: $dark-red;
  color: $white-text;
}
main section#trial img {
  width: 30%;
}

main section#contact {
  width: $primary-width;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#contact .contact-form h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
  color: $dark-red;
}
main section#contact .contact-form .subtitle {
  margin: 0;
  text-align: center;
  font-size: 1rem;
}
main section#contact .contact-form .accent {
  color: $dark-red;
}
main section#contact .contact-form form {
  text-align: center;
}
main section#contact .contact-form form > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main section#contact .contact-form form div fieldset {
  text-align: left;
  border: 0;
}
main section#contact .contact-form form fieldset.options,
main section#contact .contact-form form fieldset.details {
  flex-grow: 1;
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section#contact .contact-form form fieldset.details label,
main section#contact .contact-form form fieldset.options legend {
  font-size: 1.5rem;
  font-weight: 400;
}
main section#contact .contact-form form fieldset.options {
  margin-top: 2rem;
}
main section#contact .contact-form form fieldset.options label {
  font-size: 1.2rem;
  font-weight: 400;
}
main section#contact .contact-form form fieldset.options .note {
  font-size: 0.7rem;
}
main section#contact .contact-form form fieldset.options p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
}
main section#contact .contact-form form fieldset.options p:first-of-type {
  margin-top: 1rem;
}
main section#contact .contact-form form input,
main section#contact .contact-form form textarea {
  border: 2px solid $dark-red;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 17px;
}
main section#contact .contact-form form input[type=checkbox] {
  margin: 0.5em 0.3em 0.5em 0;
}
main section#contact .contact-form form input[type=text],
main section#contact .contact-form form textarea {
  width: 100%;
}
// This is a honeypot field to filter out bots using the form
main section#contact .contact-form form #website {
  // display: none;
}
main section#contact .contact-form form input[type="submit"] {
  background-color: gray;
  color: $white-text;
  border: none;
  padding: 10px 30px;
}

main section#contact .phone-and-logo {
  width: $secondary-width;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#contact .phone-and-logo h2 {
  margin: 0;
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
}
main section#contact .phone-and-logo .phone {
  margin: 0;
}
main section#contact .telelphone-label {
  margin-right: 1rem;
  font-size: 4rem;
  font-weight: 500;
}
main section#contact .telelphone-number {
  color: $dark-red;
  font-size: 5.8rem;
  font-weight: 500;
  line-height: 100%;
}
main section#contact .logo {
  margin-top: 3rem;
}
main section#contact .logo img {
  width: 250px;
}
main section#contact .logo p {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}
